*{
    margin:0px;
    padding:0px;
}
body{
    background-color:cornsilk;
}
#head{
    font-size:50px;
    text-align: center;
}
div{
    height: 100px;
    background-color:#caf0f8;
}
.hi1
{
    background-color: cadetblue;
    border: 2px solid black;
    border-radius:10px;
    height: 400px;
    width: 300px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
button{
    height:30px;
    width:100px;
    border: 2px soild black;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #4285F4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
input{
    height:40px;
    width:230px;
    border: 2px soild black;
    border-radius:15px;
}
.one
{
flex-direction:column;
margin:30px;
}
.hi{
    border: 2px soild black;
    display: flex;
    align-items: center;
    justify-content: center;
}